
header{
    height: 100px;
    width: 100%;
    background-color: black;
}

article{
    height: 100px;
    width: 97%;
    background-color: red;
    border: 20px solid green;

}



div{

}
